@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
header {
    background: #1f2937;
    color: #F9FAF8;
    padding: 0 10%;
}
header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
header .navbar .logo {
    font-size: 24px;
    font-weight: bold;
}
header .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    color: #E5E7EB;
    font-size: 18px;
}
header .intro {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .intro .text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
}
header .intro .text p {
    margin-top: 5px;
    color: #E5E7EB;
}
header .intro .text button {
    height: 30px;
    width: 115px;
    color: #F9FAF8;
    font-weight: bold;
    background: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 7px;
}
header .image {
    width: 500px;
    height: 225px;
    background: #c8c8c880;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foursquare .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
.foursquare .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.foursquare .content .image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 20px;
}
.foursquare .content p {
    color: #1f2937;
    text-align: center;
}