@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
header {
    background: #1f2937;
    color: #F9FAF8;
    padding: 0 10%;
}
header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
header .navbar .logo {
    font-size: 24px;
    font-weight: bold;
}
header .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}
header .intro {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .intro .text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
}
header .intro .text p {
    margin-top: 5px;
    font-weight: 400;
    color: #E5E7EB;
}
header .intro .text button {
    height: 30px;
    width: 115px;
    color: #F9FAF8;
    font-weight: bold;
    background: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 7px;
}
header .image {
    width: 500px;
    height: 225px;
    background: #c8c8c880;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foursquare .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
.foursquare .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}
.foursquare .content .image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 20px;
}
.foursquare .content p {
    color: #1f2937;
    text-align: center;
}
.quote {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin-top: 50px;
    margin-bottom: 0;
}
.quote div {
    font-weight: bold;
    align-self: flex-end;
    margin-right: 25%;
    margin-bottom: 50px;
}
.advert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.advert .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #3882f6;
    border-radius: 10px;
    background: #3882f6;
    width: 1000px;
    height: 150px;
    color: #F9FAF8;
}
.advert p {
    margin: 0;
}
.advert h2 {
    margin: 0;
}
.advert button {
    width: 110px;
    height: 35px;
    border: 2px solid #F9FAF8;
    border-radius: 7px;
    background: #3882f6;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: bold;
}